.tick-text-inline {
  font-size: 2.5em;
}

.tick-text-inline {
  color: rgb(90, 93, 99) !important;
}

.tick-text-inline {
  display: inline-block;
  text-align: center;
  min-width: 1em;
}

.tick-text-inline + .tick-text-inline {
  margin-left: -0.325em;
}

.tick-flip-top-card {
  color: #da011a;
  position: absolute;
  text-transform: uppercase;
  z-index: 100;
  font-size: 0.5em;
  padding: 0.5em 1em;
  text-align: left;
}

.tick-flip-card .tick-flip-panel-front {
  background: rgb(255 255 255 / 60%) !important;
}
